:root {
  // color
  --grey-1: #cccccc;
  --grey-2: #777777;
  --grey-3: #444;
  --white: #fff;
  --white-2: #efefef;
  --white-3: rgba(255, 255, 255, 0.8);

  --black: #000;

  --blue-light: #5eb1f5;
  --blue-dark: #4e94cf;

  // shadow
  --shadow-sectn: 0 .4rem .4rem rgba(0, 0, 0, 0.50);
}