// colors
:root {
  --black: #000;
  --black-2: #000000e6;
  --black-grey: #888;
  --black-grey-3: #e7e7e7;
  --black-grey-4: #cccccc;

  --aqua: #6edae6;
  --white: #fff;
  --red: #ec1919;

  --aqua-gradient: linear-gradient(var(--aqua), var(--white));
}