@use "../abstract" as a;

// section 1
.section__one {
  width: 100%;
  min-height: 120vh;
  padding: 10vh 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &--img-box {
    position: relative;
    width: 50vw;
    height: 60vh;
    background: var(--aqua-gradient);
    border-radius: .9rem;

    display: flex;
    justify-content: center;
  }

  &--img-box:hover &__img--01 {
    opacity: 0;
  }

  &--img-box:hover &__img--02 {
    opacity: 1;
  }

  &__img {
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: contain;
    transition: opacity 2s ease-in;

    &--01 {
      opacity: 1;
    }

    &--02 {
      opacity: 0;
    }
  }

  &--buttons {
    display: flex;
    gap: 6rem;
  }

  &--button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--black);
    position: relative;
    @include a.flex-d;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      border-radius: 34%;
      background: var(--black);
      width: 66%;
      height: 66%;
      z-index: 1;
      border: 1px solid var(--aqua);
    }

    span {
      position: absolute;
      top: -3rem;
      text-transform: uppercase;
      color: var(--aqua);
      font-size: 1.6rem;
      transform: scale(0);
      width: max-content;
      transition: all .3s ease-in;
    }

    &:hover span {
      transform: scale(1);
    }
  }
}

.section__two {
  width: 100%;
  height: 100vh;
  background-color: var(--black-2);
  clip-path: polygon(50% 0, 100% 0, 100% 95%, 50% 100%, 0 100%, 0 5%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &--laptop {
    width: 60vw;

    img {
      width: 100%;
    }
  }

  &--screen {
    position: relative;
    @include a.flex-d;
    transform: rotateX(90deg);
    transform-origin: bottom;
    perspective: 100rem;
    transition: transform 2s ease-in;


    &-display {
      position: absolute;
      max-width: 74%;
      height: 90%;
      object-fit: cover;
      filter: contrast(25%) brightness(141%);
    }

    &-description {
      position: absolute;
      z-index: 1;
      max-width: 100%;
      opacity: 0;
      transition: opacity 0.8s 5.2s ease-in;

      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: center;

      p {
        color: var(--aqua);
        font-size: 6.2rem;
      }

      span {
        color: var(--black-2);
        font-size: 1.8rem;
        font-weight: 300;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      }

      button {
        display: block;
        width: 59%;
        padding: 1.2rem;
        border-radius: .9rem;
        border: none;
        color: var(--aqua);
        font-size: 1.6rem;
        letter-spacing: 1px;
        background: linear-gradient(var(--black-grey-4), var(--white));
        box-shadow: inset 0rem 0rem 2px 1px var(--white);
        cursor: pointer;
      }
    }

    &-overlay {
      position: absolute;
      height: 90%;
      width: 74%;
      background-color: blue;
      z-index: 2;
      opacity: 1;
      transition: opacity 1s 3.3s ease;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-logo {
        font-size: 10rem;
        color: var(--white);
        opacity: 0;
        transition: opacity .8s 2s ease-in;
      }

      &-load {
        width: 20%;
        height: 3px;

        span {
          background-color: var(--white);
          width: 0;
          display: block;
          height: 100%;
          opacity: 0;
          transition: all .8s 2s ease-in;
        }
      }
    }

  }

  // HELPERS FOR JAVASCRIPT ///////////
  &--laptop.change &--screen {
    transform: rotateX(0deg);
    transform-origin: bottom;
  }

  &--laptop.change &--screen-overlay {
    opacity: 0; //remove overlay
  }

  &--laptop.change &--screen-overlay &--screen-overlay-logo {
    opacity: 1; //
  }

  &--laptop.change &--screen-overlay &--screen-overlay-load span {
    opacity: 1; //
    width: 100%;
  }

  &--laptop.change &--screen-description {
    opacity: 1; //
  }

  //////////////////////////////////////
}

.section__three {
  width: 100%;
  height: 120vh;
  padding: 10vh 0;

  &--watches {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &--watch-band {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    transition: margin .5s ease-in;
  }

  &--watch-case {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    transition: margin .5s ease-in;
  }

  &--img {
    max-width: 35rem;
  }

  &--btn,
  &--btn-buy {
    position: absolute;
    color: var(--aqua);
    font-size: 2rem;
    cursor: pointer;
  }

  &--btn {
    border: none;
    width: 2.4rem;
    height: 2.4rem;
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #e6e6e6;
    background-color: var(--black-grey);

    &-up,
    &-down {
      left: 50%;
      transform: translateX(-50%);
    }

    &-right,
    &-left {
      top: 50%;
      transform: translateY(-50%);
    }

    &-up {
      top: 1%;
    }

    &-down {
      bottom: 1%;
    }

    &-right {
      right: 1%;
    }

    &-left {
      left: 1%;
    }
  }

  &--btn-buy {
    padding: 1rem 2.4rem;
    background-color: var(--black);
    border: 2px dotted var(--white);
    border-radius: 10rem;
    bottom: 15%;
    right: 35%;
  }
}

.section__four {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 10rem;

  display: flex;
  justify-content: center;

  &>div {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  // &--learn-more {
  //   justify-content: flex-end;
  //   background-color: red;
  // }

  &--buy {
    background-color: var(--aqua);
  }

  &--link {

    &:link,
    &:visited {
      position: absolute;
      font-size: 1.4rem;
      padding: 1rem 2.4rem;
      text-decoration: none;
      width: 13rem;
      text-align: center;
      border-radius: .7rem;
      top: 50%;
      transform: translateY(-50%);
    }

    &-aqua {
      background-color: var(--aqua);
      color: var(--white);
      right: 2%;

    }

    &-white {
      background-color: var(--white);
      color: var(--aqua);
      left: 2%;
    }
  }
}

.footer {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;

    img {
      height: 10rem;
    }
  }

}

// HELPER JAVACRPT for section 3
.hidden {
  opacity: 0;
  visibility: hidden;
}